- var rightsLevels = ['none', 'read', 'write', 'admin' ]
ul
  - each rights, user in board.allow.users
    li.user #{user}: #{rightsLevels[rights]}
      img(src: '/avatar/' + user + '.png')
      ul!= partial('rights', {item_rights: rights})

