- var rightsLevels = ['none', 'read', 'write', 'admin' ]
form(method: 'post')
  fieldset
    p: label nick
      input(name: 'nick')
    p level : 
      - each right, index in rightsLevels
        label #{right}
          input(type: 'radio', name: 'level', value: index)
    p: input(type: 'submit', value: 'update') 
