h1 Welcome on board
ul.board
  li.stack
    h1 what's GOB ?
    ul
      li
        section
          article
            header Todo list
            p To make sur your task to be done.
      li
        section
          article
            header Shared
            p Create a board and share it with your staff / familly / student ...
      li
        section
          article
            header Organized
            p Do your own workflow
             ul
               li todo, done / buy
               li send, pay
               li whatever
      li
        section
          article
            header Realtime
            p Each change on the board are seen for every authorized and connected user.
  li.stack
    h1 Preview
    ul
      li
        section
          article
            header Conquer the world
            p Some screenshot here
            p A link to a readable and shared board would be great.
  li.stack
    h1 Feedback
    ul
      li
        section
          article
            header Wanna pay us a beer ?
            p You're welcome guy's :)
            p a form, or an email here ?
      li
        section
          article
            header Buggy behaviour, think or need a feature ?
            p Here is a board to share it. It's an open one, we try o keep it cleean, but mhhh, bet on that some kid will play on it.
            p provide a board here.
      li
        section
          article
            header Gob plan 
            p Of course, we setup a board to evolve GOB, so you can track next feature we are working on.
            p provide a board here.
