header: p Suscribe
section
  form(method: 'post')
    fieldset
      p: label nickname
        input(type: 'text', name: 'nick')
      p: label password
        input(type: 'password', name: 'password')
      p: label confirm password
        input(type: 'password', name: 'confirm')
      p: label avatar
        input(type: 'file', name: 'avatar')
    button(type: 'submit') Register
