header: p Login
section
  form(method: 'post')
    fieldset
      p: label nickname
        input(type: 'text', name: 'nick')
      p: label password
        input(type: 'password', name: 'password')
    button(type: 'submit') login
