@import url(http://fonts.googleapis.com/css?family=Lobster);

/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; text-decoration: none; vertical-align: baseline; list-style-type: none; }

/*:focus { outline: 0; }*/
.clear { clear: both; }
.clear-block { display: inline-block; }
.clear-block:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* Hides from IE-mac \*/
* html .clear-block { height: 1%; }
.clear-block { display: block; }

html { height: 100%; }
body { width: 100%; height: 100%; background: #ababac url('/images/header.png') 0 0 repeat-x; font: normal 17px Arial; color: #000; }
header, nav, aside, section, article { display: block; }

/* header */
body > header { position: relative; width: 1150px; height: 56px; margin: 0 auto; }
body > header p:first-of-type { float: left; width: 237px; height: 56px; }
body > header p:first-of-type a { position: absolute; top: -8px; left: 27px; z-index: 10000; width: 206px; height: 116px; background: url('/images/get_on_board.png') 0 0 no-repeat; text-indent: -3000px; }
body > header p:nth-of-type(2) { float: left; font: bold 21px/57px Arial; color: #f4cd37; }
body > header p:nth-of-type(2):before { content: '> '; color: #FFF; }
body > header ul.actions{ float: right;}
body > header ul.actions li{ float: right; font: bold 21px/57px Arial; color: #f4cd37; padding: 0 27px;}
body > header ul.actions li form *{ height: inherit; width: inherit; padding : 0; float: none; line-height: 1em;}


/* board */
body > section:first-of-type { width: 90%; min-height: 450px; margin: 0 auto; padding: 30px 0 0 0; background: #ededed; border: 13px solid #FFF; -webkit-box-shadow: inset 1px 1px 3px #999; -moz-box-shadow: inset 1px 1px 3px #999; box-shadow: inset 1px 1px 3px #999; }


/* Stickies */
article { width: 144px; min-height: 120px; margin: 0 0 0 50px; padding: 8px 28px 30px 8px; background: #f4cd37 url('/images/background_sticky.png') right bottom no-repeat; }
article header { position: relative; background: url('/images/dotted.png') 0 bottom repeat-x; }
article header h2 { font: bold 17px/25px Arial; color: #000; }
article header .editable { position: absolute; bottom: -30px; left: -38px; width: 20px; height: 20px; padding: 5px; background: #000 url('/images/edit.png') center no-repeat; }
article section { position: relative; padding: 5px 0; font: normal 14px Arial; color: #000; }
article section > .user { position: absolute; right: -40px; top: -33px; height: 150px; width: 20px; }
article section .user ul { display: inline-block; width: 20px; height: 150px; overflow: visible; background: transparent; }
article section .user ul li { position: relative; width: 48px; height: 52px; margin: 0 0 0 -12px; }
article section .user ul li:after { position: absolute; top: -40px; left: 20px; content: ' '; width: 7px; height: 7px; background: url('/images/epingle.png') center no-repeat; }
article section .user ul li img { width: 40px; height: 40px; border: 4px solid #FFF; border-bottom: 8px solid #FFF; }
article section .user ul li:nth-child(n) { transform: rotate(6deg); -webkit-transform: rotate(6deg); -moz-transform: rotate(6deg); }
article section .user ul li:nth-child(2n) { transform: rotate(-6deg); -webkit-transform: rotate(-6deg); -moz-transform: rotate(-6deg); }
article section .user ul li a { display: none; }
article section .user ul li:hover a { display: block; position: absolute; top: -40px; right: 0; padding: 0 3px; background: #000; font: bold 12px Arial; color: #FFF; }

/* tools */
aside { position: fixed; bottom: 0; left: 0; width: 100%; height: 65px; background: rgba(0, 0, 0, 0.7); }
aside ul { text-align: center; }
aside ul li { display: inline; }

li.stack.lighter > ul.stickyContainer{ background: #f6f6f6; }

body > section ul.board { display: block; width: 100%; margin: 0 auto; }
body > section ul.board > li { display: inline-block; width: 300px; min-height: 480px; vertical-align: top; background: url('/images/separator.png') right 0 repeat-y; }
body > section ul.board > li:last-child { background: none; }
body > section ul.board li h1 { text-align: center; font: normal 25px 'Lobster', Arial; color: #000; }
body > section ul.board li.stack ul.stickyContainer { padding: 40px 0 70px 0; }
/*ul li article { position: relative; width: 250px; min-height: 100px; margin: 0; padding: 5px; background: #FFF; -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.5); -moz-box-shadow: 0 2px 12px rgba(0,0,0,.5); box-shadow: 0 1px 2px #000; -webkit-transform: rotate(-.5deg); -moz-transform: rotate(-.5deg); -o-transform: rotate(-.5deg); }
ul li article:nth-child(even) { -webkit-transform: rotate(.5deg); -moz-transform: rotate(.5deg); }*/

ul li article { -webkit-transform: scale(0.7); }
ul li.ui-sortable-helper article:hover { -webkit-transform: scale(1); z-index: 2000; }
/*ul li article:hover { -webkit-transform: scale(1.5); z-index: 2000; }*/

#tplStickyForm { display: none; }
#tplSticky { display: none; }

aside section { display: inline-block; width: 33%;}
aside section.users ul { display: inline; }
aside section a.users { display: inline-block; width: 48px; height: 48px; background-image: url(/images/users.png); }
aside section.tools ul { display: inline; width: 48px; height: 48px; }
aside section.tools section.trash.stack ul { display: inline-block; width: 48px; height: 48px; background-image: url(/images/trash.png); }
#socketState { display: inline-block; width: 30px; height: 30px; }
.disconnect { background-image: url(/images/disconnect.png); }
.connect { background-image: url(/images/connect.png); }
.folderAdd { display: inline-block; width: 48px; height: 48px; background-image: url(/images/folder.png); }
.stickyAdd { display: inline-block; width: 48px; height: 48px; background-image: url(/images/sticky.png); }
li.rights { display: inline-block; width: 30px; height: 30px; } 
li.rights.read { background-image: url(/images/read.png); }
li.rights.write { background-image: url(/images/write.png); }
li.rights.admin { background-image: url(/images/admin.png); }
li.rights img{ width: 30px; height: 30px; }

li.user {display: inline;}
li.user ul {display: inline;}
li.user ul li {display: inline;}

form span.error { display: inline; font: normal 12px Arial; color: red; }
