section
  h1 stack: #{stack.name}
  p add sticky
  form(method: 'post', action: stack.url() + '/sticky')
    div: label title
      input(type: 'text', name: 'title')
    div: label content
      input(type: 'text', name: 'content')
    div: label user
      input(type: 'text', name: 'user')
