article.sticky('data-slug': sticky ? sticky.slug : '')
  header
    h2.title #{sticky ? sticky.title : ''}
    - if(rights >= 2)
      a.editable(href: sticky ? sticky.url() : '')
  section
    div
      p.content #{sticky ? sticky.content : ''}
  footer
    div
      p.user #{sticky ? sticky.user : ''}
      ul.sortableUser
        li
