article.sticky('data-slug': sticky ? sticky.slug : '')
  header
    h2.title #{sticky ? sticky.title : ''}
    - if(rights >= 2)
      a.editable(href: sticky ? sticky.url() : '')
  section
    p.content #{sticky ? sticky.content : ''}
    div.user
      ul.sortableUser!= partial('../boards/stickies/users/gallery', {rights: rights, users: sticky ? sticky.user : {}})

