article.sticky('data-slug': sticky.slug)
  header
    h2.title #{sticky.title}
    - if(rights >= 2)
      a.editable(href: sticky.url())
  section
    p.content #{sticky.content}
  footer
    p.user #{sticky.user}
