!!! 5
html(lang: "en")
  head
    meta(charset: "utf-8")
    title Board
    link(href: "/stylesheets/base.css", rel: "stylesheet")
    script(type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    script(type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js")
    script(type: "text/javascript", src: "http://www.appelsiini.net/download/jquery.jeditable.js") 
    script(type: "text/javascript", src: "/javascripts/socket.io.js")
    script(type: "text/javascript", src: "/javascripts/board.js")
  body
    header
      p ScrumBoard : #{board.name}
      a(href: '/board/' + board.slug + '/stack') add stack
    section
      ul
        -each stack in board.stacks
          li!= partial('../stacks/item', {stack: stack})
    section
      article#tplSticky
        header: h2.editable Ticket title
        section: p.editable Content ticket
        footer: p.editable
      section.trash.stack
        ul
          li
    aside
      ul
        //li: a#addSticky.button.pink(href: stacks[0].url) New stickies
    footer: p Design by Zyll and Shoko
