!!! 5
html(lang: "en")
  head
    meta(charset: "utf-8")
    title Board
    link(href: "/stylesheets/base.css", rel: "stylesheet")
    link(href: "/stylesheets/jquery-ui.css", rel: "stylesheet")
    script(type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    script(type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js")
    script(type: "text/javascript", src: "http://www.appelsiini.net/download/jquery.jeditable.js") 
    script(type: "text/javascript", src: "/javascripts/socket.io.js")
    script(type: "text/javascript", src: "/javascripts/board.js")
  body
    header
      p ScrumBoard : #{board.name}
      a(href: board.url() + '/stack') add stack
    section
      ul.board('data-slug': board.slug, 'data-rev': board.rev)
        -each stack in board.stacks
          != partial('../stacks/item', {stack: stack})
    - if (board.stacks.length)
      section#tplSticky!= partial('../stickies/form', {stack: board.stacks[0]})
    section.trash.stack
      ul
        li Trash
    aside
      ul
        - if (board.stacks.length)
          li: a#addSticky.button.pink(href: board.stacks[0].url() + '/sticky') New stickies
    footer: p Design by Zyll and Shoko
